body {
	font-family: 'Roboto Slab', serif;
}
@font-face {
  font-family: 'palm-canyon-drive';
  src: url(../fonts/PalmCanyonDrive.otf);
}
.navbar-default .navbar-nav > li > a {
	color: #D1B674;
	letter-spacing: .07em;
}
.navbar-default {
	border: none;
	background-color: #F1F2F2;
	height: 
}
.navbar-brand {
	padding-top: 6px;
	padding-left: 2em;
	padding-right: 2em;
}
.navbar-form .form-control {
	border: 1px solid #D1B674;
}
.navbar-form .btn-default {
	border: 1px solid #D1B674;
	background-color: #E5CB98;
}
.navbar-form .glyphicon-search {
	color: white;
}
.logo-banner {
	text-align: center;
}
.logo-banner >img {
	padding-top: 2em;
}
.logo-banner > h1 {
	font-size: 1.5em;
	font-weight: 300;
	color: #D1B674;
	padding-bottom: 2.2em;
}
.swiper-container {
    width: 100%;
    height: 500px;
} 
.swiper-slide {
	/*float: left;*/
	/*height: 500px;*/
	width: 500px;
}
.swiper-slide > img {
	height: 500px;
	width: auto;
} 
.swiper-button-prev {
	background-image: url(../images/prev-arrow.svg);
	/*background-size: contain;*/
}
.swiper-button-next {
	background-image: url(../images/next-arrow.svg);
}

/*-----Regitester-------*/
.reg-page {
	background-image: url(../images/line-background.svg);

}
.reg-form {
	border: 1.5px solid #D1B674;
	padding: 3em;
	box-sizing: bordr-box;
	width: 500px;
	margin-top: 5em;
	background-color: white;
}
.reg-form > h1 {
	font-family: 'palm-canyon-drive';
	color: #D1B674;
	font-size: 3.5em;
	margin: 0;
	padding-bottom: 1em;
	text-align: center;
}
.reg-form label {
	font-weight: 300;
	color: #D1B674;
	letter-spacing: .07em;
}
.reg-form .row {
	padding: 0 3em;
}
.reg-form .btn-success {
	background-color: transparent;
	border: 2px solid #D1B674;
	color: #D1B674;
	float: right;
	margin-right: 2em;
}











