body {
	font-family: 'Roboto Slab', serif;
}
@font-face {
  font-family: 'palm-canyon-drive';
  src: url(../fonts/PalmCanyonDrive.otf);
}

/*-----Index / Home page-----*/


/*-----Navbar-----*/
.navbar-form {
	display: none;
}
.navbar {
	margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
	color: #D1B674;
	letter-spacing: .07em;
}
.navbar-default {
	border: none;
	background-color: #F1F2F2;
	height: 
}
.navbar-brand {
	padding-top: 6px;
	padding-left: 2em;
	padding-right: 2em;
}
.navbar-form .form-control {
	border: 1px solid #D1B674;
}
.navbar-form .btn-default {
	border: 1px solid #D1B674;
	background-color: #E5CB98;
}
.navbar-form .glyphicon-search {
	color: white;
}


/*-----LogoBanner-----*/

.logo-banner {
	text-align: center;
}
.logo-banner >img {
	padding-top: 3.5em;
}
.logo-banner > h1 {
	font-size: 1.5em;
	font-weight: 300;
	color: #D1B674;
	padding-bottom: 2.2em;
}


/*-----SwiperContainer-----*/

.swiper-container {
    width: 100%;
    height: 500px;
} 
.swiper-slide {
	/*float: left;*/
	/*height: 500px;*/
	width: 500px;
}
.swiper-slide > img {
	height: 500px;
	width: auto;
} 
.swiper-button-prev {
	background-image: url(../images/prev-arrow.svg);
	/*background-size: contain;*/
}
.swiper-button-next {
	background-image: url(../images/next-arrow.svg);
}

/*-----Types icons-----*/

.icons-home {
	padding: 3em 0;
}
.icons-home img {
	max-height: 65px;
}
.icons-home h4 {
	text-align: center;
	color: #939598;
	padding-top: 1em;
	font-size: 1.2em;
}
.icons-home a {
	text-decoration: none;
}
hr {
    display: block;
    height: 1.5px;
    /*border: 0;*/
    border-top: 1px solid #D1B674;
    /*margin: 1em 0;*/
    /*padding: 0; */
}

/*-----Latest Recipes-----*/

.heading-center {
	text-align: center;
	font-weight: 300;
	letter-spacing: .15em;
	padding: 1em 0;
	color: #D1B674;
}
.latest-recipes h2 {
	text-align: center;
	line-height: 1.3em;
	font-size: 1.5em;
	font-weight: 300;
}
.latest-recipes h4 {
	text-align: center;
	letter-spacing: .08em;
	font-size: 1em;
	padding-bottom: 1.5em;
}
.latest-recipes {
	padding-bottom: 1.5em;
}

/*-----Newsletter-------*/

.container-newsletter {
	padding-top: 1em;
}
.col-centered {
	float: none;
	margin: 0 auto;
}

.nl-signup {
	width: 350px;
}
.heading-script {
	font-family: 'palm-canyon-drive';
	color: #E5CB98;
	font-size: 3.5em;
	margin: 0;
	padding-bottom: 1em;
	text-align: center;
}
.nl-signup h1 {
	padding-top: 1em;
}
.nl-signup p {
	text-align: center;
	margin-bottom: 3.5em;
}
.nl-signup #newsletter {
	width: 280px;
	margin: 0 auto;
}

.vertical-line {
	border-right: solid 1.5px #D1B674;
 
}
#newsletter .btn {
	float: right;
	border-radius: 10px;
	padding: .3em .5em;
	color: white;
	background-color: #E5CB98;
	border-color: #E5CB98;
	letter-spacing: .1em;
	font-size: 1.2em;
}

/*----Request a Recipe----*/

.nl-right > .heading-center {
	padding-bottom: 0;
	padding-top: 6vw;
	font-size: 2.2em;
}
.nl-right > p {
	text-align: center;
}


/*-----Regitester-------*/

.reg-page {
	background-image: url(../images/line-background.svg);

}
.reg-form {
	border: 1.5px solid #D1B674;
	padding: 3em;
	box-sizing: bordr-box;
	width: 500px;
	margin-top: 5em;
	background-color: white;
}
label {
	font-weight: 300;
	color: #D1B674;
	letter-spacing: .07em;
}
.reg-form .row {
	padding: 0 3em;
}
.reg-form .btn-success {
	background-color: transparent;
	border: 2px solid #D1B674;
	color: #D1B674;
	float: right;
	margin-right: 2em;
}

/*-----Recipes Page-----*/


/*---Add Recipe Button---*/

.add-recipe {
	background-color: #CAF9E1;
	padding: 2em 0;
}
.add-recipe > p > .btn {
	color: #9CE5BD;	
	border: none;
} 
.add-recipe > p {
	text-align: center;
	margin: 0;
}



.rec-main {
	background-color: #FCF7F7;
	margin: 0;
}
.rec-main-left {
	padding: 0;
	background-color: #FCFCFC;
}
.rec-main-left > img {
	position: relative;
	height: 80%;
	width: 80%;
	margin-top: 10%;
	margin-bottom: 10%;
}
.rec-main-left > h1 {
	color: #D1B674;
	font-size: 6vw;
	font-weight: 300;
	letter-spacing: .15em;
	position: absolute;
	z-index: 1;
	left: 35%;
	top: 40%;
}
.rec-main-right {
	padding: 13vw 0;
	background-color: #FCF7F7;
}
.rec-main-right > img {
	zoom: 0.5;
	padding-bottom: 2.5em;
}
.rec-main-right > .heading-script {
	padding-bottom: 0.4em;
	font-size: 3em;
}
.rec-main-right > p {
	text-align: center;
	color: #D1B674;
}
.underline {
	width: 300px;
}
.rec-main-right ul {
	padding-top: 2vh;
	padding-bottom: 3vh;
	padding-left: 22%;
}
.rec-main-right ul li {
	color: #D1B674;
	list-style: none;
	line-height: 1.8em;
	font-size: 1.1em;
}

/*-----Recipe Page - Icons-----*/






/*----Five column width index page search icons----*/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
	.rec-main-left > h1 {
		/*font-size: 3em;*/
		left: 35%;
		top: 45%;
	}
	.rec-main-right > .heading-script {
		font-size: 3.5em;
	}
	.rec-main-right ul {
		padding-left: 34%;
	}
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
    .navbar-form {
		display: block;
	}

	/*---Recipes Page---*/

	.rec-main-left > h1 {
		font-size: 3vw;
		left: 35%;
		top: 45%;
	}
	.rec-main-right ul {
		padding-left: 30%;
	}
	.rec-main-right {
		padding: 8vw 0;
	}
	.rec-icons {
		padding: 5em 0;
	}
	.rec-icons > .icons-home {
		border-right: solid 1.5px #D1B674;
		padding-top: 0;
		padding-bottom: 0;
	}
	.icons-home:last-child {
		border: none;
	}
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
    .rec-main-left > img {
		width: 70%;
	}
	.rec-main-left > h1 {
		font-size: 2.5vw;
		left: 40%;
		top: 45%;
	}
	.rec-main-right > .heading-script {
		font-size: 4.5em;
	}
	.rec-main-right ul {
		padding-left: 37%;
		padding-top: 2.5em;
		padding-bottom: 3em;
	}
	.rec-main-right {
		padding-top: 10vw;
		padding-bottom: 0;
	}



	.rec-main-right > p {
		font-size: 1.2em;
	}


	.rec-main-right ul li {
		line-height: 2em;
		font-size: 1.3em;
	}
}










